* {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  gap: 4px;
  grid-template-columns: 1fr 4fr;
  text-align: center;
  height: 100vh;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  grid-column: 1/5;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  background-color: #393f4d;
}

.logo {
  justify-self: start;
}

.menu ul,
.menu li {
  font-size: 16px;
}

ul {
  list-style: none;
  display: grid;
  grid-template-rows: 1fr;
  grid-auto-flow: column;
}

.sidebar {
  grid-area: 2 / 1 / 6 / 3;
  display: grid;
  gap: 50px;
  background-color: #C50208;
}

.sidebar .photo {
  display: grid;
  place-items: center;
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}


.sidebar .side-content {
  display: grid;
  place-items: center;
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.nav {
  grid-column: 3 / 5;
  background-color: #C50208;
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
}

.article {
  grid-row: 3 / 5;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
  background-color: #bccbde;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  height: 200px;
  background-color: #FFFFFF;
  color: black;
  text-align: center;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  grid-column: 1 / 5;
  background-color: #393f4d;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}